[Unit]
Description=Lux Tuner Service
After=network.target

[Service]
Type=simple
User=100acresranch
WorkingDirectory=/home/100acresranch
ExecStart=/home/100acresranch/lux.zsh
Environment="PYTHONPATH=$PYTHONPATH:/home/100acresranch/"

[Install]
WantedBy=multi-user.target
